.DS_Store
node_modules
/.svelte
/.svelte-kit
/functions
.env
build/_app/chunks/Menu-134ba669.js
build/_app/chunks/Menu-134ba669.js
build/_app/chunks/Menu-6d9b3c68.js
build/_app/chunks/Menu-134ba669.js
build/_app/pages/contact.svelte-984d52bb.js
build/_app/chunks/Menu-134ba669.js
build/_app/chunks/Menu-6d9b3c68.js
